 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 573px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 408px auto 60px;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 481px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 135px;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 44px;
  width: 120px;
  min-width: 68px;
  margin: 71px auto 20px;
}

.u-section-2 .u-icon-1 {
  height: 0;
  color: rgb(47, 102, 254) !important;
}

.u-section-2 .u-icon-2 {
  height: 32px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-social-icons-1 {
    min-height: 16px;
  }
}