.u-section-1 .u-sheet-1 {
  min-height: 580px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 92px 10px 60px 530px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 95px;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 44px;
  width: 174px;
  min-width: 68px;
  margin: 26px auto;
}

.u-section-2 .u-icon-1 {
  height: 0;
}

.u-section-2 .u-icon-2 {
  height: 32px;
}

.u-section-2 .u-icon-3 {
  height: 0;
}