.u-section-1 .u-sheet-1 {
  min-height: 1202px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 1398px;
  width: 1140px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: -1387px 0 60px auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5626em;
  margin-right: 0;
  vertical-align: 0px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 1408px;
  width: 1001px;
  margin: 1380px 70px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 940px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -1395px;
    margin-right: 100px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: auto;
    margin-left: 0;
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -1387px;
    margin-right: 210px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 1398px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 400px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 1308px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 75px;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 44px;
  width: 174px;
  min-width: 68px;
  margin: 16px auto;
}

.u-section-2 .u-icon-1 {
  height: 0;
}

.u-section-2 .u-icon-2 {
  height: 32px;
}

.u-section-2 .u-icon-3 {
  height: 0;
}